/*Паддинги не увеличивают размер блока СТАРТ*/
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
/*Паддинги не увеличивают размер блока ЕНД*/

body{
	padding:0; 
	background:#fff; 
	color:#333; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
    height: auto;
	}

/* вместо этого подключаем файл reset.css для обнуления
*{
margin:0;
padding:0;
border:0;}
*/
header, section, footer, aside, nav, article {
	 display: block; 
}
.cleaarfix{
	clear:both;
}
#container{
	line-height:20px;
    display: flex; 
	
	max-width:1000px;
	margin:10px auto 0;
}
#content{
background: red;	
float:right;
max-width: 700px;
	padding:10px;
}

#nav{
	padding:10px;
background: green ;	
float:left;
max-width: 300px;	
}



.wrapper{
	text-align: center;
	width: 1200px;
    margin: 0 auto;
}
#nav_menu{
    margin: 20px;

}

.list{
    display: inline-block;	
}
.link{
	padding: 10px;
    text-decoration: none;
    background: #ebebeb;
}
.link:hover{
 background: #ccc;	
}
















@media(max-width:1000px){
	#content{
	
	}
}